version: '3.8'

services:

  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - .:/var/www/html
    environment:
      - MYSQL_HOST=db
      - MYSQL_DB=bluebirdhotel
      - MYSQL_USER=root
      - MYSQL_PASSWORD=rootpassword

  db:
    image: mysql:8.0
    container_name: hotel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bluebirdhotel
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./bluebirdhotel.sql:/docker-entrypoint-initdb.d/bluebirdhotel.sql

volumes:
  db_data: